<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enexure.Sql.Dynamic" version="1.0.0.8" targetFramework="net461" />
  <package id="Enexure.Sql.Dynamic.Providers.TransactSql" version="1.0.0.7" targetFramework="net461" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.30" targetFramework="net461" />
  <package id="SQL" version="1.0.0.1" targetFramework="net461" />
</packages>