<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="L10.Properties.Settings.CourseWorkConnectionString" connectionString="Data Source=DESKTOP-7J4J8P2;Initial Catalog=CourseWork;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
